body {
	margin-top: 50px;
}
.pad-top20 {
	padding-top: 30px;
}
.well {
	background: #ffffff !important;
}
.grey-well {
	background: #f4f4f4 !important;
}
.top-bar {
	height: 5px;
	background: #ca2129;
	margin-bottom: 0;
}
.jumbotron {
	background: url("../images/waterdrop.jpg") no-repeat 50%;
	height: 350px;
	padding: 0; 
	color: #ffffff;
}
.jumbotron h1 {
	font-size: 34px;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 10px;
}
.jumbotron [class*="col-"] {
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
	overflow: auto;
	height: 350px;
}
.navbar {
	border-radius: 0;
	margin: 0;
}
/*style Login and Register*/
li.login a {
	background: #ca2129;
	margin-bottom: -10px !important;
	color: #ffffff !important;
  padding-left: 22px;
  padding-right: 22px;
  border-top: 0.1px solid #000000;
}
li.login a:hover {
	background: #cccccc !important;
}
li.register a {
	background: #2f98cc;
	color: #ffffff !important;
	border-top: 0.1px solid #000000;
	border-left: 0.1px solid #000000;
}
li.register a:hover {
	background: #cccccc !important;
}
/*Learn columns*/
.bluebox, .redbox {
	background-color: #2e98cc;
	overflow: hidden;
	height: 230px;
	color: #ffffff;
	padding: 0 10px;
	font-size: 100%;
}
.redbox {
	background-color: #ca2129;
}
.bluebox a.readmore, .redbox a.readmore {
	position: absolute;
	bottom: 15px;
	left: 30px;
	background: #2b8cbc;
	padding: 10px 15px;
	color: #ffffff;
}
.redbox a.readmore {
	background: #bf1e26;
}
.bluebox a.readmore:hover {
	background: #20749d;
}
a.readmore:hover {
	background: #86161b;
}
/*Whats happening in the world*/
/*media object*/
.media-body {
	font-size: 100%;
}
.panel-default .panel-heading {
	background-color: #2e98cc;
	color: #ffffff;
}
/*list group first*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #ca2129 !important;
	border-color: #ca2129 !important;
}
/*list group second, custom content*/
.grey-list .list-group-item.active, .grey-list .list-group-item.active:focus, .grey-list .list-group-item.active:hover {
	background-color: #f4f4f4 !important;
	border-color: #cccccc !important;
	color: #666666 !important;
}
.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
    color: #666666 !important;
}
/*Footer*/
footer {
	text-align: center;
	padding: 20px 0;
	font-weight: bold;
	background-color: #f4f4f4;
}
/*blog.html*/
#blog img {
	margin: 5px 0;
	border: 1px solid #cccccc;
	padding: 3px;
	border-radius: 5px;
	width: 100%;
}
#blog a.readmore {
	background: #2b8cbc;
	padding: 10px 15px;
	color: #ffffff;
	text-align: center;
	display: block;
	margin-top: 20px !important;
	border-radius: 5px;
}
#blog a.readmore:hover {
	background: #20749d;
}
small {
	padding: 5px;
	background: #f4f4f4;
	border: 1px solid #dddddd;
	border-radius: 5px;
	width: 100%;
	display: block;
	margin: 5px 0 10px 0;
}
/*gmap*/
iframe.gmap {
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 4px;
}
#tooltip1, #tooltip2 {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
	padding-bottom: 2px;

}
#tooltip1:hover, #tooltip2:hover {
	text-decoration: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 100%;
}













